body {
    min-height: 100vh;
    width: 100vw;
    background-color: #111;
    color: #ddd;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    background-color: #222;
    flex: 1.2;
    text-align: center;
    padding: 20px;
    min-height: 100vh;
}

#center {
    flex: 2;
    text-align: center;
    padding: 20px;
    text-align: center;
}

#connectButton {
    border: 1px solid white;
    color: white;
    text-align: center;
    width: 90px;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0px auto 20px;
}

#message {
    padding-bottom: 65px;
    opacity: 0;
}

#cubeWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#cube {
    height: 400px;
    width: 400px;
}

.checkbox {
    width: 16px;
    height: 16px;
    border: 2px solid #eee;
    border-radius: 3px;
    background-color: transparent;
    flex: none !important;
}

.checkbox.checked {
    background-color: #eee;
}

.checkbox.checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0; 
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: 0px;
    left: 4px;
}

#rightOptions {
    font-size: 14px;
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

#tempCounter {
    margin-bottom: 40px;
    font-size: 15px;
    text-align: center;
}

.inputContainer {
    flex-direction: row;
    display: flex;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 300px;
}

.inputContainer div {
   margin-left: 10px;
   margin-right: 10px;
   display: inline-block;
   align-self: flex-end;
}

.inputContainer .checkbox {
    margin-right: 0px;
}

#setAUF.disabled .label {
    opacity: 0.5;
}

#AUF {
    text-align-last:center;
}

.infoBox {
    margin-bottom: 50px;
}

.infoBox .infoLine {
    margin-top: 10px;
}

.row {
    display: inline-flex;
}

.button {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}

.button div {
    padding: 0px 5px; 
}